html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}




/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html {
  box-sizing: border-box;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* END RESET*/




/* GLOBAL STYLES */
html {
  font-family: 'Helvetica', arial, sans;
  font-style: italic;
  color: #fff5d8;
  text-transform: uppercase;
}
body {
  background-color: #000;
  text-align: center;
}
h1,h2,h3,h4,h5,h6 {
}
h1 {
  font-size: 3em;
  font-weight: bold;
}
h2 {
  font-size: 1.5em;
  font-weight: bold;
}
h4 {

}
li {
  list-style: none;
}
a {
  font-weight: bold;
  text-decoration: none;
}
p {

}
a, p {
  color: #fff5d8;
  font-size: 0.9em;
}




/* HEADER */
.header {
  background-color: #171717;
  border-bottom: thin solid #4F790B;
  height: 205px;
  position: fixed;
  width: 100vw;
  z-index: 20;
}
.header-logo {
  display: block;
  padding-top: 44px;
}
.header-logo img {
  height: 100px;
}
.header-nav {
  padding: 20px 0px 0px 0px;
}
.header-nav > li {
  display: inline-block;
  margin: 0.6em;
  margin-bottom: 0;
}
.nav-links {
}




/* HERO */
.hero {
  border-bottom: thin solid #4F790B;
  height: 100vh;
  /* width: 100vw;  */
  padding-top: 270px;
}
.album-release {
  border-bottom: thin solid #171717;
  display: flex;
  float: center;
  max-width: 1050px;
  margin: 0px auto;
}
.album-cover {
  margin: auto;
  padding: 100px;
  width: 50%;
}
.album-cover img {
  float: right;
  width: 260px;
}
.album-info {
  display: block;
  float: left;
  padding: 45px 15px;
  width: 50%;
}
.band-name img {
  display: block;
  float: left;
  clear: left;
  margin: 10px auto;
  width: 300px;
}
.available-now img {
  display: block;
  float: left;
  clear: left;
  margin: 10px auto;
  width: 500px;
}
.buy-now-button {
  background-color: #fff5d8;
  color: #000;
  display: block;
  float: left;
  clear: left;
  font-size: 1.1em;
  font-style: italic;
  font-weight: lighter;
  margin: 10px 0px 0px 0px;
  padding: 10px 20px;
  text-transform: uppercase;
  width: 145px;
}
.buy-now-button:hover {
  color: #fff5d8;
  background-color: #000;
  border: thin solid #fff5d8;
}




/* SOCIAL MEDIA LINKS */
.social-media-links {
  display: inline;
}
.social-media-links img {
  margin: 0.2em;
  width: 1em;
}
.page-name {
  margin: 20px auto;
}




/* STREAMING LINKS */
.streaming-site-links {
  margin: 25px 0px 0px 0px;
  padding: 25px 0px;
}
.streaming-site-links img {
  border: 1px solid #fff;
  border-radius: 1em;
  display: block;
  margin: 15px auto;
  padding: 5px;
  width: 150px;
}
/* BAND PHOTO */
.band-photo {
  diplay: block;
  margin: 0px auto;
  overflow: hidden;
  /* float: center; */
}
.band-photo img {
  background-color: #000;
  display: block;
  margin: -10% 0% -35%;
  filter: opacity(50%);
  width: 100%;
}




/* SHOW CALENDAR */
.show-calendar {
  display: inline-block;
  font-weight: bold;
  margin: 100px auto;
  min-width: 1000px;
  padding: 20px;
}
.show-dates {
  margin-top: 50px;
}
.show-date {
  border-top: thin solid #171717;
  display: block;
  margin: 30px auto;
  padding: 30px 20px;
}
.show-date > li {
  display: inline;
  padding: 0px 10px;
}
.date {
  color: #fff;
  float: left;
  margin: 0px 25px 0px 0px;
  text-align: left;
  width: 100px;
}
.location {
  color: #fff5d8;
  float: left;
  margin: 0px 25px 0px 5px;
  text-align: left;
  width: 175px;
}
.venue {
  color: #fff;
  display: block;
  float: left;
  margin: 0px 25px 0px 5px;
  text-align: left;
  width: 300px;
}
.event {
  color: #fff;
  font-size: 0.7em;
  margin: 0px 25px 0px 5px;
  text-align: left;
  width: 200px;
}
.time-slot {
  color: #fff;
  float: right;
  width: 175px;
}
.rescheduled {
  color: #ae40a5;
}




/* BOOKING CONTACT */
.booking-contact {
  border-top: thin solid #171717;
  border-bottom: thin solid #171717;
  margin-top: 20px;
  padding: 20px;
}
.booking-contact .booking {
  color: #fff;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 0px;
}




/* BITEY */
.bitey {
  margin: 200px auto 20px;
}
.bitey img {
  display: block;
  margin: auto;
  width: 400px;
}




/* MAILING LIST SIGNUP FORM */
.mailing-list-form {
  display: block;
  margin: 0px auto;
  overflow: hidden;
}
.mailing-list-form .background-image {
  display: block;
  background-image: url("../images/form/blurry_02-edited.jpg");
  background-position: 0px -555px;
  background-size: cover;
  overflow: hidden;
  height: 560px;
  width: 100%;
  z-index: -1;
}
.mailing-list-form-declaration {
  border-bottom: thin solid #474747;
  line-height: 2.6em;
  margin: 25px auto;
  padding: 25px 10px;
  width: 300px;
}
.mailing-list-form-required {
  font-family: sans-serif;
  font-weight: normal;
  margin: 30px auto;
  text-align: left;
  width: 270px;
}
.mailing-list-form-required span {
  color: red;
}
.mailing-list-form-required h3 {
  font-size: 1em;
}
.mailing-list-form-required p {
  color: #717171;
  font-weight: bold;
  margin: 20px 0px 10px;
}
.mailing-list-form-required input {
  font-family: 'Helvetica',arial, sans;
  font-style: italic;
  font-weight: lighter;
  color: #fff5d8;
  line-height: 38px;
  font-size: 1em;
  padding-left: 10px;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #000;
  border: thin solid #fff5d8;
}
input#email {
  background-color: #000;
  border: thin solid #fff5d8;
  height: 38px;
  width: 270px;
}
input#checkbox {
  border: thin solid #4F790B;
  display: inline;
  color: red;
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  text-decoration: none;
}
.submit-button {
  background-color: #fff5d8;
  color: #000;
  display: inline-block;
  float: left;
  font-size: 1.1em;
  font-style: italic;
  font-weight: lighter;
  margin: 15px 0px 0px 0px;
  padding: 10px 10px;
  text-transform: uppercase;
  text-align: center;
  width: 100px;
}
.submit-button:hover {
  color: #fff5d8;
  background-color: #000;
  border: thin solid #fff5d8;
}




/* FOOTER */
.footer {
  background-color: #171717;
  border-top: thin solid #4F790B;
  height: 105px;
  padding: 50px 300px;
  min-width: 390px
}
.footer .social-media-links {
  display: inline-block;
  float: left;
  margin: 0px 0px 0px 120px;
  padding: 20px;
  min-width: 120px;
}
.footer .social-media-links img {
  margin: 0.2em;
  width: 0.8em;
}
.copyright > p {
  color: #fff5d8;
  float: right;
  font-size: 0.7em;
  margin: 0px 100px 0px 0px;
  padding: 25px;
  min-width: 150px;
}
