html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/

/* GLOBAL STYLES */
html {
}
body {
  background-color: #000;
  font-family: 'Monserrat', arial, sans;
  min-height: 100vh;
  text-align: center;
}
h1,h2,h3,h4,h5,h6 {
  /* font-family: 'Raleway', helvetica, sans; */
  /* font-weight: 100; */
}
h1 {
  /* font-size: 7vw; */
  /* margin-top: 0; */
}
h2 {
  /* font-size: 2em; */
}
h4 {
  /* color: #999;
  font-weight: bold;
  text-transform: uppercase; */
}
a {
  color: #fff5d8;
  font-size: 0.9em;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
p {
  /* line-height: 1.5;
  margin: 0.75em 0; */
}
h2 ~ p {
  /* font-size: 0.8em;
  font-style: italic;
  margin: 1em auto 0;
  max-width: 70%;
  text-align: center; */
}

/* HEADER */
.header {
  background-color: #171717;
  border-bottom: thin solid #4F790B;
  height: 205px;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 20;
}
.header-logo {
  display: block;
  padding-top: 44px;
}
.header-logo img {
  width: 301px;
}
.header-nav {
  padding: 20px 0px 13px 0px;
}
.header-nav > li {
  display: inline-block;
  margin: 0.6em;
  margin-bottom: 0;
}

/* HERO */
.hero {
  display: inline-block;
  height: vh;
  margin: 200px 0px;
  padding-top: 70px;
}
.album-release {
  display: flex;
  border-bottom: thin solid #171717;
  float: center;
  margin: 10px auto;
  padding: 40px auto;
}
.album-release > div {

}
.album-cover {
  /* border: thin solid #fff; */
  padding: 0px 10px;
}
.album-cover img {
  display: block;
  float: center;
  margin: 28px 30px;
  padding: 60px 60px;
  width: 236px;
}
.album-info {
  display: inline-block;
  /* border: thin solid #fff; */
  padding: 25px 60px;

}
.band-name img {
  display: block;
  float: left;
  margin: 20px auto;
  width: 300px;
}
.available-now img {
  /* border: thin solid #fff; */
  display: block;
  margin: 10px auto 5px;
  padding: 5px;
  width: 460px;
}
.buy-now-button {
  border: thin solid #fff;
  display: inline-block;
  float: left;
  background-color: #fff5d8;
  font-size: 1.1em;
  font-style: italic;
  margin: 15px 0px;
  padding: 10px 20px;
  text-color: #000;
  text-transform: uppercase;
  width: 100px;
}

/* SOCIAL MEDIA LINKS */
.social-media-links {
  display: inline;
}
.social-media-links img {
  margin: 0.2em;
  width: 16px;
}

/* STREAMING LINKS */
.streaming-site-links {
  border-top: thin solid #4F790B;
  margin: 25px 0px 0px 0px;
  padding: 25px 0px;
}
.streaming-site-links img {
  /* border: thin solid #fff; */
  display: block;
  margin: 15px auto;
  width: 150px;
}

/* SHOW CALENDAR */

/* MAILING LIST SIGNUP FORM */

/* FOOTER */
